<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>InterstitialAdUnitID</key>
    <string>ca-app-pub-7984188512879505/1948301985</string>
    <key>NativeAdUnitID</key>
    <string>ca-app-pub-7984188512879505/2754504239</string>
    <key>RewardedAdUnitID</key>
    <string>ca-app-pub-7984188512879505/1080112876</string>
    <key>BannerAdUnitID</key>
    <string>ca-app-pub-7984188512879505/1090080107</string>
</dict>
</plist>